@property --scroll-position {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}

@property --scroll-position-delayed {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}

@property --scroll-direction {
	syntax: "<number>";
	inherits: true;
	initial-value: 0;
}

@keyframes adjust-pos {
	to {
		--scroll-position: 1;
		--scroll-position-delayed: 1;
	}
}

:root {
	animation: adjust-pos linear both;
	animation-timeline: scroll(root);
}

body {
	transition: --scroll-position-delayed 0.15s linear;
	--scroll-velocity: calc(var(--scroll-position) - var(--scroll-position-delayed));
	--scroll-speed: abs(var(--scroll-velocity));
}

@supports not (transform: scaleX(sign(-1))) {
	body {
		--scroll-speed: max(var(--scroll-velocity), -1 * var(--scroll-velocity));
		--scroll-direction: calc(var(--scroll-velocity) / var(--scroll-speed));
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Noto Serif", serif;
}

.contentContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 100dvh;
	padding: 80px 10px 10px 10px;
}

nav {
	display: flex;
	width: 100%;
	height: 60px;
	align-items: center;
	justify-content: flex-end;
	position: fixed;
	top: 0;
	z-index: 5;
	transition: top 0.25s;
	background-color: white;
	container: navbar / inline-size;
	font-family: "Sans Serif", serif;
}

navTopPosition {
	top: 0 !important;
}

#navDesktopLinks {
	display: flex;

	@container navbar (max-width: 520px) {
		display: none;
	}
}

#navDesktopLinks>a {
	color: black;
	font-size: 1.5rem;
	margin: 0 20px;
}

#navToggleCheckbox {
	height: 40px;
	width: 40px;
	position: absolute;
	right: 20px;
	opacity: 0;
	z-index: 5;
	cursor: pointer;

	@container navbar (min-width: 520px) {
		display: none;
	}
}

#navToggleCheckbox:checked~#navToggleMenu {
	transform: translateX(0);
}

#navTogglePseudo {
	position: absolute;
	right: 20px;

	@container navbar (min-width: 520px) {
		display: none;
	}
}

#navToggleMenu {
	position: absolute;
	transform: translateX(+110%);
	transition: transform 0.4s ease-out;
	z-index: 5;
	top: 60px;
	background-color: white;
	height: calc(100dvh - 60px);
	width: 100%;
	font-size: 2rem;
	box-shadow: rgba(0, 0, 0, 0.45) -20px 0px 20px -20px;
}

#navToggleMenu>li {
	display: flex;
	height: 33%;
	align-items: center;
	justify-content: center;
}

#navToggleMenu>li:last-child {
	height: 34%;
}

#navToggleMenu>li>a {
	color: black;
}

footer {
	display: flex;
	flex-wrap: wrap;
	width: 100;
	height: 400px;
	background: grey;
}