<dialog id="buyDialog">
	<form id="buyDialogForm" class="form">
		<div
			id="buyDialogBody"
			class="fccs"
		>
			<h3>Buy Painting</h3>
			<div id="buyDialogFormBody" class="fccs">
				<label
					class="contactFormLabel"
					htmlFor="fullname"
					for="fullname"
				>
					{{ labels.full_name }}
				</label>
				<input
					id="fullname"
					class="contactFormInput"
					name="fullname"
					type="text"
					required
				>
				<label
					class="contactFormLabel"
					htmlFor="email"
					for="email"
				>
					{{ labels.email }}
				</label>
				<input
					id="emal"
					class="contactFormInput"
					name="email"
					type="email"
					required
				>
			</div>
		</div>
	</form>
</dialog>