<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Rosemary</title>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
	<link rel="stylesheet" href="http://static.localhost/assets/main.css">
	<script src="http://static.localhost/assets/main.js"></script>
</head>

<body>
	<!-- NAV START -->
	<nav id="nav">
		<div id="navBackground"></div>
		<div id="navDecorativeLine"></div>
		<div id="navDesktopLinks">
			<a href="/">HOME</a>
			<a href="/gallery">GALLERY</a>
			<a href="/photo">PHOTO</a>
			<a href="/blog">BLOG</a>
			<a href="/contact">CONTACT</a>
		</div>
		<label for="navToggleCheckbox"></label><input
			type="checkbox"
			id="navToggleCheckbox"
			autocomplete="off"
		/>
		<div id="navTogglePseudo">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				height="40px"
				viewBox="0 -960 960 960"
				width="40px"
				fill="white"
			>
				<path d="M120-240v-66.67h720V-240H120Zm0-206.67v-66.66h720v66.66H120Zm0-206.66V-720h720v66.67H120Z"/>
			</svg>
		</div>
		<ul id="navToggleMenu">
			<li><a href="/">HOME</a></li>
			<li><a href="/gallery">GALLERY</a></li>
			<li><a href="/photo">PHOTO</a></li>
			<li><a href="/blog">BLOG</a></li>
			<li><a href="/contact">CONTACT</a></li>
		</ul>
	</nav>

	<!-- CONTENT START -->
	<div class="fccs contentContainer" style="padding-top: 70px;">

	</div>
	<!-- FOOTER START -->
	<footer id="footer">
		<section>
			<div>
				<span>
					<b>CONTACT</b>
					<p>rosemaryphotography@seznam.cz</p>
					<a href="https://www.instagram.com/rozmarynamaluje/">
						instagram
					</a>
					<a href="https://www.facebook.com/p/Rozmar%C3%BDna-maluje-100077482535221/">
						facebook
					</a>
				</span>
			</div>
			<div>
				<span>
					<b>FAQ</b>
					<a href="/upcomin-events">upcoming events</a>
					<a href="/photo-pricing">photo pricing</a>
					<a href="/photo-reservation">photo reservation</a>
				</span>
			</div>
			<div>
				<span>
					<b>NAVIGATION</b>
					<a href="/">home page</a>
					<a href="/gallery">paintings</a>
					<a href="/photo">photo</a>
					<a href="/blog">contact</a>
					<a href="/contanct">contact</a>
				</span>
			</div>
		<section>
	</footer>
</body>

</html>