<!DOCTYPE html>
<html lang="en">

<head>
	{% include "./components/head.html" %}
	<link rel="stylesheet" href="{{ meta.static_base_url }}/assets/form.css">
</head>

<body>
	{% include "./components/navbar.html" %}
	<div
		class="fccs contentContainer"
		style="padding-top: 70px;"
	>
		<iframe
			id="hiddenFrame"
			name="hiddenFrame"
			style="display:none;"
		></iframe>
		<form
			class="fccc contactFormBody"
			style="margin-top: 24px"
			action="https://rosemary-artist.com/api/v1.0/contact-form"
			method="get"
			target="hiddenFrame"
		>
			<div class="contactFormInnerBody">
				<img
					src="{{ meta.static_base_url }}/images/contact_me_photo.jpg"
					width="250px"
					height="250px"
					alt="Rosemary, the author"
				>
			</div>
			<label
				htmlFor="name"
				for="name"
				class="contactFormLabel"
			>
				{{ page.name }}
			</label>
			<input
				id="name"
				name="name"
				type="text"
				placeholder="Firstname Lastname"
				class="contactFormInput"
				required
			>
			<label
				htmlFor="email"
				for="email"
				class="contactFormLabel"
			>
				{{ page.email }}
			</label>
			<input
				id="email"
				name="email"
				type="email"
				placeholder="your.email@domain.com"
				class="contactFormInput"
				autocomplete="email"
				required
			>
			<label
				htmlFor="phone"
				for="phone"
				class="contactFormLabel"
			>
				{{ page.phone }}
			</label>
			<input
				id="phone"
				name="phone"
				type="tel"
				placeholder="+420 777 666 555"
				class="contactFormInput"
				pattern="\+\d{3} \d{3} \d{3} \d{3}"
				autocomplete="tel"
			>
			<label
				htmlFor="subject"
				for="subject"
				class="contactFormLabel"
			>
				{{ page.subject }}
			</label>
			<select
				id="subject"
				name="subject"
				class="contactFormInput"
			>
				<option value="obraz">{{ page.painting }}</option>
				<option value="focení">{{ page.photography }}</option>
				<option value="všeobecný" selected>{{ page.general }}</option>
			</select>
			<label
				htmlFor="message"
				for="message"
				class="contactFormLabel"
			>
				{{ page.message }}
			</label>
			<textarea
				id="message"
				name="message"
				class="contactFormInput"
				rows="10"
			></textarea>
			<button type="submit" style="margin-bottom: 48px">
				{{ page.send }}
			</button>
		</form>
	</div>
	{% include "./components/footer.html" %}
</body>

</html>