<!DOCTYPE html>
<html lang="en">

<head>
	{% include "./components/head.html" %}
	<link rel="stylesheet" href="{{ meta.static_base_url }}/assets/galleryDetail.css">
	<script defer src="{{ meta.static_base_url }}/assets/galleryDetail.js"></script>
</head>

<body>
	{% include "./components/navbar.html" %}
	<div class="content fcss">
		<div class="contentContainer">
			<div class="paintingContent">
				<div
					class="fccs paintingContentItem paintingTitle"
					style="margin-bottom: 20px;"
				>
					<h1>{{ page.title }}</h1>
				</div>
				<div
					class="fccs paintingContentItem paintingDescription"
				>
					{{ page.description }}
				</div>
				<div class="fccs paintingContentItem paintingInfo">
					<div
						class="fccc infoDimensions"
						style="width: 320px; height: 180px; margin-bottom: 40px;"
					>
						<b>
								{{ page.dimenzions }}<br/>{{ page.unit }}<br/>
						</b>
						<p style="color: silver">{{ page.technique }}</p>
					</div>
					<button id="buyButton">
						<b>{{ labels.buy_with_price }}</b>
					</button>
				</div>
				<div class="fccs paintingContentItem carousel">
					<div class="fccc galleryItemBodyPicture">
						<img
							id="mainPaintingImage"
							class="paintingImage"
							sizes="{{ page.main_photo_sizes }}"
							srcset="{{ page.main_photo_srcset }}"
							src="{{ page.main_photo_src }}"
							alt="{{ page.main_photo_alt }}"
						>
					</div>
					<div class="frss galleryItemBodyPictures">
						{% for painting_photo in page.photos %}
							{% include "./components/paintingDetail/paintingPhoto.html" %}
						{% endfor %}
					</div>
					<div class="frcc carouselControls">
						<p style="color: silver;">
							{{ page.photos_count }}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include "./components/imageDialog.html" %}
	{% include "./components/paintingDetail/buyDialog.html" %}
	{% include "./components/footer.html" %}
</body>

</html>