<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Rosemary je abstraktní malířka a fotografka žijící v Praze, Česká Republicka">
	<meta name="keywords" content="obrazy, fotografie, foto, abstrakce, olej, umění, malování">
	<meta name="author" content="Rosemary - Michaela Halásová">
	<meta name="robots" content="index, follow">
	<title>Rosemary - obrazy, foto</title>
	<link rel="canonical" href="www.rosemary-artist.com/cs/gallery">
	<!-- Open Graph (Facebook, LinkedIn) -->
	<meta property="og:title" content="Rosemary - obrazy, foto">
	<meta property="og:description"
		content="Rosemary je abstraktní malířka a fotografka žijící v Praze, Česká Republicka">
	<meta property="og:image" content="">
	<meta property="og:url" content="www.rosemary-artist.com/cs/gallery">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="cs">
	<!-- Twitter Card -->
	<meta name="twitter:card" content="">
	<meta name="twitter:title" content="Rosemary - obrazy, foto">
	<meta name="twitter:description"
		content="Rosemary je abstraktní malířka a fotografka žijící v Praze, Česká Republicka">
	<meta name="twitter:image" content="">
	<meta name="twitter:site" content="">
	<!-- Favicon -->
	<!-- <link rel="icon" type="image/png" href=""> -->
	<!--  Links & Scripts -->
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&amp;display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&amp;display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="http://static.localhost/assets/main.css">
	<link rel="stylesheet" href="http://static.localhost/assets/navbar.css">
	<link rel="stylesheet" href="http://static.localhost/assets/galleryDetail.css">
	<script src="http://static.localhost/assets/main.js"></script>
	<script type="module" src="http://static.localhost/assets/utils.js"></script>
</head>

<body>
	<!-- NAV -->
	<nav id="nav" class="frcc">
		<div id="navBackground" class="frcc"></div>
		<div id="navDecorativeLine"></div>
		<div id="navDesktopLinks" class="frss">
			<a href="/cs/">
				domů
			</a>
			<a href="/cs/gallery?limit=20&amp;offset=0&amp;sort=created&amp;order=desc">
				galerie
			</a>
			<a href="/cs/photo">
				foto
			</a>
			<a href="/cs/blog">
				blog
			</a>
			<a href="/cs/contact">
				kontakt
			</a>
		</div>
		<label for="navToggleCheckbox"></label>
		<input type="checkbox" id="navToggleCheckbox" autocomplete="off">
		<div id="navTogglePseudo">
			<svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="white">
				<path d="M120-240v-66.67h720V-240H120Zm0-206.67v-66.66h720v66.66H120Zm0-206.66V-720h720v66.67H120Z"></path>
			</svg>
		</div>
		<ul id="navToggleMenu" class="fccc">
			<li class="frcc">
				<a href="/">
					domů
				</a>
			</li>
			<li class="frcc">
				<a href="/cs/gallery?limit=20&amp;offset=0&amp;sort=created&amp;order=desc">
					galerie
				</a>
			</li>
			<li class="frcc">
				<a href="/cs/photo">
					foto
				</a>
			</li>
			<li class="frcc">
				<a href="/cs/blog">
					blog
				</a>
			</li>
			<li class="frcc">
				<a href="/cs/contact">
					kontakt
				</a>
			</li>
		</ul>
	</nav>
	<!-- BODY -->
	<div class="content fcss">
		<div class="contentContainer">
			<div class="frss galleryItemBody">
				<div class="fcss galleryItemBodyPart">
					<div class="fccc galleryItemBodyPicture">
						<img
							id="mainPaintingImage"
							class="paintingImage"
							src="http://static.localhost/images/4d9d7f68-f4bb-4adf-b743-516973c554c1_1024.jpg"
						>
					</div>
					<div class="frss galleryItemBodyPictures">
						<img
							class="paintingImage"
							height="100px"
							style="margin: 10px;"
							src="http://static.localhost/images/0317da4e-1903-4204-8b41-2a8b524ba036_320.jpg"
						>
						<img
							class="paintingImage"
							height="100px"
							style="margin: 10px;"
							src="http://static.localhost/images/8c76c17a-d063-4d48-a255-0f4d7cd8998b_320.jpg"
						>
						<img
							class="paintingImage"
							height="100px"
							style="margin: 10px;"
							src="http://static.localhost/images/e6f63069-cea4-43b8-865f-c08409181e13_320.jpg"
						>
					</div>
				</div>
				<div class="galleryItemBodyPart">
					<div class="fccs galleryItemBodyInfo">
						<h1>Whispers of Color</h1>
						<p>In the realm where form and structure dissolve, "Whispers of Color" emerges as a testament to the
							boundless potential of abstract art. This oil painting, a symphony of vibrant hues and fluid brushstrokes,
							invites the viewer to explore the depths of their imagination.
							<br /><br />
							The canvas is a dance of contrasts, where bold, sweeping gestures meet delicate, intricate details. Each
							layer of paint tells a story, whispering secrets of emotion and movement that transcend the confines of
							literal representation. The artist's hand is evident in every stroke, a testament to the spontaneity and
							intuition that guide the creative process.
							<br /><br />
							At the heart of this abstract masterpiece lies a profound exploration of color and form. The interplay of
							light and shadow creates a dynamic energy that pulses with life, drawing the eye in and encouraging
							contemplation. The absence of recognizable forms allows the viewer to project their own interpretations
							onto the canvas, making each encounter with the artwork a unique and personal experience.
							<br /><br />
							"Whispers of Color" is more than just a painting; it is a journey into the unknown, a celebration of the
							abstract, and a testament to the power of art to inspire and provoke. It stands as a reminder that beauty
							and meaning can be found in the most unexpected places, hidden within the swirls and strokes of an
							artist's vision.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- FOOTER -->
	<footer id="footer">
		<section>
			<div>
				<span>
					<b>kontakt</b>
					<p>rosemaryphotography@seznam.cz</p>
					<a href="https://www.instagram.com/rozmarynamaluje/">
						instagram
					</a>
					<a href="https://www.facebook.com/p/Rozmar%C3%BDna-maluje-100077482535221/">
						facebook
					</a>
				</span>
			</div>
			<div>
				<span>
					<b>často kladené otázky</b>
					<a href="cs/upcoming-events">
						nadcházející události
					</a>
					<a href="cs/photo-pricing">
						ceník focení
					</a>
					<a href="cs/photo-reservation">
						rezervovat focení
					</a>
				</span>
			</div>
			<div>
				<span>
					<b>navigace</b>
					<a href="cs/">
						domů
					</a>
					<a href="cs/gallery?limit=20&amp;offset=0&amp;sort=created&amp;order=desc">
						galerie
					</a>
					<a href="cs/photo">
						navigace
					</a>
					<a href="cs/blog">
						blog
					</a>
					<a href="cs/contact">
						kontakt
					</a>
				</span>
			</div>
			<section>
			</section>
		</section>
	</footer>
</body>

</html>