<!DOCTYPE html>
<html lang="en">

<head>
	{{% include "./components/head.html" %}}
	<link rel="stylesheet" href="http://static.localhost/assets/form.css">
	<link rel="stylesheet" href="http://static.localhost/assets/gallery.css">
	<script type="module" src="http://static.localhost/assets/utils.js"></script>
	<script defer src="http://static.localhost/assets/gallery.js"></script>
</head>

<body>
	{{% include "./components/navbar.html" %}}

	<!-- CONTENT START -->
	<div class="content fcss">
		<div class="contentContainer">
			<div class="fccs galleryBody">
				<div
					class="fccc galleryFiltersWrapper"
					style="margin-bottom: 20px;"
				>
					<div class="fccc galleryFiltersBody">
						<div class="frss galleryFilters">
							<select
								class="form filterInput"
								name="sort"
							>
								<option value="created">
									{{ page.translations.created }}
								</option>
								<option value="price">
									{{ page.translations.price }}
								</option>
								<option value="width">
									{{ page.translations.width }}
								</option>
								<option value="height">
									{{ page.translations.height }}
								</option>
								<option value="title">
									{{ page.translations.title }}
								</option>
								<option value="sold">
									{{ page.translations.sold }}
								</option>
							</select>
							<select
								class="form filterInput"
								name="order"
							>
								<option value="asc">
									{{ page.translations.ascending }}
								</option>
								<option value="desc">
									{{ page.translations.descending }}
								</option>
							</select>
							<input
								type="text"
								placeholder="search"
								class="form filterInput"
								name="search"
							/>
						</div>
					</div>
				</div>
				<div class="frcc galleryItems">
					{{% for itemStub in page.galleryItemStubs %}}
					{{% end for %}}
				</div>
				<div class="frcc galleryPagination">
					<p style="margin-left: 20px;">0-25 / 356</p>
					<span>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							height="48px"
							viewBox="0 -960 960 960"
							width="48px"
							fill="black"
						>
							<path d="M560-280 360-480l200-200v400Z" />
						</svg>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							height="48px"
							viewBox="0 -960 960 960"
							width="48px"
							fill="black"
						>
							<path d="M400-280v-400l200 200-200 200Z" />
						</svg>
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- FOOTER START -->
	{{% include "./components/footer.html" %}}
</body>

</html>