<!DOCTYPE html>
<html lang="en">

<head>
	{% include "./components/head.html" %}
</head>

<body>
	{% include "./components/navbar.html" %}
	<div class="content fcss">
		<div class="fccs contentContainer index">
			<img
				id="heroBanner"
				srcset="{{ page.hero_banner }}_320.webp 320w, {{ page.hero_banner }}_640.webp 640w, {{ page.hero_banner }}_1080.webp 1080w, {{  page.hero_banner }}_1920.webp 1920w"
				sizes="(max-width: 640px) 640px, (max-width: 1080px) 1080px, 1920px"
				src="{{ page.hero_banner }}_1920.webp"
				alt="{{ page.hero_banner_alt }}"
			/>
		<h1>{{ page.title }}</h1>
		</div>
		<div class="fccc contentContainer" style="background: white;">
			<div class="fccc contentBody">
				<img
					id="authorHomePicture"
					srcset="{{ page.author_picture }}_320.webp 320w, {{ page.author_picture }}_640.webp 640w"
					sizes="(max-width: 320px) 320px, 640px"
					src="{{ page.author_picture }}_640.webp"
					alt="{{ page.author_picture_alt }}"
				>
				<p class="P">{{ page.author_description }}</p>
			</div>
		</div>
	</div>
	{% include "./components/footer.html" %}
</body>

</html>