<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Rosemary</title>
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet">
	<link rel="stylesheet" href="file:///home/leinweberm/Documents/personal/Rust-rest-API/www/static/main.css">
	<script src="file:///home/leinweberm/Documents/personal/Rust-rest-API/www/static/main.js"></script>
</head>

<body>
	<!-- NAV START -->
	<nav id="nav">
		<div id="navDesktopLinks">
			<a href="/">home</a>
			<a href="/gallery">gallery</a>
			<a href="/contact">contact</a>
		</div>
		<label for="navToggleCheckbox"></label><input
			type="checkbox"
			id="navToggleCheckbox"
			autocomplete="off"
		/>
		<div id="navTogglePseudo">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				height="40px"
				viewBox="0 -960 960 960"
				width="40px"
				fill="black"
			>
				<path d="M120-240v-66.67h720V-240H120Zm0-206.67v-66.66h720v66.66H120Zm0-206.66V-720h720v66.67H120Z"/>
			</svg>
		</div>
		<ul id="navToggleMenu">
			<li><a href="/">home</a></li>
			<li><a href="/gallery">gallery</a></li>
			<li><a href="/contact">contact</a></li>
		</ul>
	</nav>
	<!-- CONTENT START -->
	<div class="contentContainer">
		<h1>Hello World</h1>
	</div>
	<!-- FOOTER START -->
	<footer>
	</footer>
</body>

</html>