<footer id="footer">
	<section>
		<div>
			<span>
				<b>CONTACT</b>
				<p>rosemaryphotography@seznam.cz</p>
				<a href="https://www.instagram.com/rozmarynamaluje/">
					instagram
				</a>
				<a href="https://www.facebook.com/p/Rozmar%C3%BDna-maluje-100077482535221/">
					facebook
				</a>
			</span>
		</div>
		<div>
			<span>
				<b>FAQ</b>
				<a href="/upcomin-events">upcoming events</a>
				<a href="/photo-pricing">photo pricing</a>
				<a href="/photo-reservation">photo reservation</a>
			</span>
		</div>
		<div>
			<span>
				<b>NAVIGATION</b>
				<a href="/">home page</a>
				<a href="/gallery">paintings</a>
				<a href="/photo">photo</a>
				<a href="/blog">contact</a>
				<a href="/contanct">contact</a>
			</span>
		</div>
		<section>
</footer>