<footer id="footer">
	<section>
		<div>
			<span>
				<b>{{ footer.contact }}</b>
				<p>rosemaryphotography@seznam.cz</p>
				<a href="https://www.instagram.com/rozmarynamaluje/">
					instagram
				</a>
				<a href="https://www.facebook.com/p/Rozmar%C3%BDna-maluje-100077482535221/">
					facebook
				</a>
			</span>
		</div>
		<div>
			<span>
				<b>{{ footer.faq }}</b>
				<a href="/upcoming-events">
					{{ footer.upcoming_events }}
				</a>
				<a href="/photo-pricing">
					{{ footer.photo_pricing }}
				</a>
				<a href="/photo-reservation">
					{{ footer.photo_reservation }}
				</a>
			</span>
		</div>
		<div>
			<span>
				<b>{{ footer.navigation }}</b>
				<a href="/">
					{{ footer.home }}
				</a>
				<a href="/gallery">
					{{ footer.gallery }}
				</a>
				<a href="/photo">
					{{ footer.navigation }}
				</a>
				<a href="/blog">
					{{ footer.blog }}
				</a>
				<a href="/contact">
					{{ footer.contact }}
				</a>
			</span>
		</div>
		<section>
</footer>