<meta charset="UTF-8">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1.0"
>
<title>Rosemary</title>
<link
	rel="preconnect"
	href="https://fonts.gstatic.com"
	crossorigin=""
>
<link
	rel="preconnect"
	href="https://fonts.googleapis.com"
>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&amp;display=swap"
	rel="stylesheet"
>
<link
	href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&amp;display=swap"
	rel="stylesheet"
>
<link
	rel="stylesheet"
	href="http://static.localhost/assets/main.css"
>
<link
	rel="stylesheet"
	href="http://static.localhost/assets/navbar.css"
>
<script src="http://static.localhost/assets/main.js"></script>