<nav id="nav" class="frcc">
	<div
		id="navBackground"
		class="frcc"
	></div>
	<div id="navDecorativeLine"></div>
	<div
		id="navDesktopLinks"
		class="frss"
	>
		<a href="/{{ meta.locale }}/">
			{{ navbar.home }}
		</a>
		<a href="/{{ meta.locale }}/gallery?limit=20&offset=0&sort=created&order=DESC">
			{{ navbar.gallery }}
		</a>
		<a href="/{{ meta.locale }}/photo">
			{{ navbar.photo }}
		</a>
		<a href="/{{ meta.locale }}/blog">
			{{ navbar.blog }}
		</a>
		<a href="/{{ meta.locale }}/contact">
			{{ navbar.contact }}
		</a>
	</div>
	<label for="navToggleCheckbox"></label>
	<input
		type="checkbox"
		id="navToggleCheckbox"
		autocomplete="off"
	/>
	<div id="navTogglePseudo">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			height="40px"
			viewBox="0 -960 960 960"
			width="40px"
			fill="white"
		>
			<path d="M120-240v-66.67h720V-240H120Zm0-206.67v-66.66h720v66.66H120Zm0-206.66V-720h720v66.67H120Z" />
		</svg>
	</div>
	<ul
		id="navToggleMenu"
		class="fccc"
	>
		<li class="frcc">
			<a href="/">
				{{ navbar.home }}
			</a>
		</li>
		<li class="frcc">
			<a href="/gallery">
				{{ navbar.gallery }}
			</a>
		</li>
		<li class="frcc">
			<a href="/photo">
				{{ navbar.photo }}
			</a>
		</li>
		<li class="frcc">
			<a href="/blog">
				{{ navbar.blog }}
			</a>
		</li>
		<li class="frcc">
			<a href="/contact">
				{{ navbar.contact }}
			</a>
		</li>
	</ul>
</nav>